<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header_title">Travel Planner</div>
      <button class="desktop_header_button" onclick="return openModal(event)">
        Add trip
      </button>
      <button class="mobile_header_button" onclick="return openModal()">
        +
      </button>
    </header>

    <main>
      <section id="trips">
        <div id="trip1" class="trip">
          <div class="cancel_button"></div>
          <div class="trip_location">London, Great Britain</div>
          <div class="trip_content">
            <div class="left_content"></div>
            <div class="right_content">
              <div class="trip_departing">
                Departing: <span>21-01-1998</span>
              </div>

              <div class="trip_days_amount">
                Days before trip: <span>35</span>
              </div>
            </div>
          </div>
          <div class="trip_weather">
            Current Weather: <span>35°C, Clear sky</span>
          </div>
        </div>
      </section>
      <section id="modal">
        <div class="cancel_button" onclick="return closeModal()"></div>
        <form class="card_form" onsubmit="return handleSubmit(event)">
          <input
            id="location"
            type="text"
            name="input"
            value="london"
            placeholder="Enter Location"
          />
          <input
            id="departing"
            type="text"
            name="input"
            value="2021-10-20"
            placeholder="Enter Departing Date"
            onfocus="(this.type='date')"
            onblur="(this.value.length > 0 ? this.type='date': this.type='text')"
          />
          <input
            type="submit"
            name=""
            value="submit"
            class="submit_button"
            onclick="return handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </section>
    </main>

    <footer>
      <div class="footer_text">
        © 2021 Created by Seliana. All Rights Reserved
      </div>
    </footer>
    <script>
      // add service worker
    </script>
  </body>
</html>
