<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header_title">Travel Planner</div>
      <button class="desktop_header_button">Add trip</button>
      <button class="mobile_header_button">+</button>
    </header>

    <main>
      <section id="trips"></section>
      <section id="preloader">
        <div class="preloader_dot"></div>
        <div class="preloader_dot"></div>
        <div class="preloader_dot"></div>
      </section>

      <section id="modal">
        <div class="cancel_button" id="modal_close"></div>
        <form class="card_form">
          <input
            id="location"
            type="text"
            name="input"
            value="london"
            placeholder="Enter Location"
          />
          <input
            id="departing"
            type="text"
            name="input"
            value="2021-10-20"
            placeholder="Enter Departing Date"
            onfocus="(this.type='date')"
            onblur="(this.value.length > 0 ? this.type='date': this.type='text')"
          />
          <input
            type="submit"
            id="submit"
            name=""
            value="submit"
            class="submit_button"
          />
        </form>
      </section>
    </main>

    <footer>
      <div class="footer_text">
        © 2021 Created by Seliana. All Rights Reserved
      </div>
    </footer>

    <script>
      // add service worker
    </script>
  </body>
</html>
