footer {
  position: relative;
  width: 100%;
  background: color('orange');
  padding: 20px 30px;

  @include mobileScreen {
    padding: 20px;
  }
}

.footer_text {
  @include baseText(14px, 400);
  color: color('white');

  @include mobileScreen {
    font-size: 12px;
  }
}
