.card {
  position: relative;
  width: 400px;
  padding: 30px;
  border-radius: 23px;
  background: color('yellow');
  box-shadow: 5px 5px 14px color('yellow_dark'),
    -4px -4px 14px color('yellow_light');

  @include mobileScreen {
    width: 280px;
  }
}

.card_form {
  position: relative;
  @include baseColumn;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.url_input,
.submit_button {
  border: none;
  outline: none;
  border-radius: 7px;
  background: color('yellow');
}

.url_input {
  align-self: stretch;
  height: 30px;
  padding: 5px 20px;
  box-shadow: inset 2px 2px 4px color('yellow_dark'),
    inset -2px -2px 4px color('yellow_light');

  &::placeholder {
    color: color('white');
    font-size: 15px;
    font-weight: 400;
  }

  &:focus {
    box-shadow: inset 4px 4px 4px color('yellow_dark'),
      inset -4px -4px 4px color('yellow_light');
  }
}

.submit_button {
  margin-top: 25px;
  padding: 10px 30px;
  box-shadow: 2px 2px 4px color('yellow_dark'),
    -2px -2px 4px color('yellow_light');
  text-transform: uppercase;
  @include baseText(18px, 700);
  color: color('white');
  cursor: pointer;

  &:hover {
    box-shadow: -2px 2px 4px color('yellow_dark'),
      2px -2px 4px color('yellow_light');
  }

  &:active {
    box-shadow: inset 2px 2px 4px color('yellow_dark'),
      inset -2px -2px 4px color('yellow_light');
  }
}

.url_error {
  background: #f33043;

  box-shadow: inset 5px 5px 10px $dark_shadow_error,
    inset -5px -5px 10px $light_shadow_error;

  &::placeholder {
    color: $text_color_error;
  }

  &:focus {
    background: color('yellow');
    box-shadow: inset 4px 4px 4px color('yellow_dark'),
      inset -4px -4px 4px color('yellow_light');
  }
}
