.result_wrapper {
  margin-top: 40px;
  padding: 30px;
  width: 400px;
  height: 240px;
  border-radius: 23px;
  background: color('yellow');
  box-shadow: 5px 5px 14px color('yellow_dark'),
    -4px -4px 14px color('yellow_light');
  @include baseColumn;

  @include mobileScreen {
    width: 280px;
    height: 200px;
  }
}

.result_text {
  @include neuText(27px, 600);
  margin-bottom: 10px;

  @include mobileScreen {
    font-size: 20px;
  }
}

#results {
  display: none;
  align-self: flex-start;

  p {
    margin-top: 5px;
    @include neuText(16px, 600);

    span {
      font-size: 16px;
      font-weight: 600;
      color: white;
      text-shadow: none;
    }
  }

  @include mobileScreen {
    p {
      font-size: 14px;

      span {
        font-size: 14px;
      }
    }
  }
}
