.trip {
  position: relative;
  width: 600px;
  min-height: 240px;
  margin: 0 10px 40px 10px;

  padding: 40px 25px 25px 25px;
  border-radius: 23px;
  background: color('yellow');
  box-shadow: 5px 5px 14px color('yellow_dark'),
    -4px -4px 14px color('yellow_light');
  @include baseColumn;
  align-items: flex-start;

  @include mobileScreen {
    width: 100%;
  }
}

.trip_content {
  position: relative;
  margin-top: 20px;
  width: 100%;
  @include baseRow(space-between);
  align-items: stretch;
}

.left_content {
  position: relative;
  width: 50%;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.right_content {
  margin-left: 20px;
  position: relative;
  width: 50%;
  height: 100%;
  @include baseColumn(flex-end);

  @include mobileScreen {
    align-items: flex-start;
  }
}

.trip_location {
  @include baseText(24px, 600);

  @include mobileScreen {
    font-size: 21px;
  }
}

.trip_departing {
  @include baseText(20px, 600);
  span {
    @include baseText(18px, 400);
  }

  @include mobileScreen {
    font-size: 18px;
    span {
      font-size: 16px;
    }
  }
}

.trip_days_amount {
  margin-top: 10px;
  @include baseText(16px, 600);
  span {
    @include baseText(16px, 400);
  }

  @include mobileScreen {
    font-size: 15px;
    span {
      font-size: 15px;
    }
  }
}

.trip_weather {
  margin-top: 25px;
  @include baseText(18px, 600);
  span {
    @include baseText(18px, 400);
  }

  @include mobileScreen {
    font-size: 16px;
    span {
      font-size: 16px;
    }
  }
}
