// error
$text_color_error: #f25a92;
$dark_shadow_error: #aa222f;
$light_shadow_error: #ff3e57;

// preloader
$preloader_color: #2b0329;

// screen
$mobile_width: 620px;

$colors: (
  'white': #ffffff,
  'white_deep': #dbd7d7,
  'orange': #f2875a,
  'yellow': #f2ba5a,
  'yellow_dark': #dca952,
  'yellow_light': #ffcb62,
);

@function color($key) {
  @return map-get($map: $colors, $key: $key);
}
