$main_color: #d4a1bc;
$second_color: #3f3131;
$dark_shadow: #b489a0;
$light_shadow: #f4b9d8;
$text_color: #2b0329;

// error
$text_color_error: white;
$dark_shadow_error: #aa222f;
$light_shadow_error: #ff3e57;

// preloader
$preloader_color: #2b0329;

// screen
$mobile_width: 620px;
