@import './_header.scss';
@import './_modal.scss';
@import './_trips.scss';
@import './_trip.scss';
@import './_preloader.scss';
@import './_footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: color('yellow');
  color: white;
  @include baseColumn;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 30px 20px;

  @include mobileScreen {
    padding: 20px 15px;
  }
}
